@model IEnumerable<AppMVC.Models.Pessoa>

<h2>Pessoas</h2>

<a href="/Pessoas/Cadastro" class="btn btn-primary">+ Cadastro</a>

<table class="table mt-4">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pessoa in Model)
        {
            <tr>
                <td>@pessoa.Nome</td>
                <td>@pessoa.Telefone</td>
                <td>@pessoa.CPF</td>
                <td>
                    <a href="/Pessoas/Editar/@pessoa.Id" class="btn btn-info">Editar</a>

                    <form action="/Pessoas/Excluir/@pessoa.Id" method="post" style="display:inline;">
                        @Html.AntiForgeryToken() <!-- Adicionando o token CSRF -->
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir esta pessoa?')">Excluir</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
